RPL1RechargeServices.wsdl

<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="http://rPL1RechargeServices.api.interfaces.sessions.rpm.aif.amdocs" name="RPL1RechargeServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://rPL1RechargeServices.api.interfaces.sessions.rpm.aif.amdocs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsp:UsingPolicy wssutil:Required="true"/>
  <wsp:Policy wssutil:Id="UsernameToken">
    <ns1:SupportingTokens xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512">
      <wsp:Policy>
        <ns1:UsernameToken ns1:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512/IncludeToken/AlwaysToRecipient">
          <wsp:Policy>
            <ns1:WssUsernameToken10/>
          </wsp:Policy>
        </ns1:UsernameToken>
      </wsp:Policy>
    </ns1:SupportingTokens>
  </wsp:Policy>  
  <types>
    <xsd:schema targetNamespace="http://rPL1RechargeServices.api.interfaces.sessions.rpm.aif.amdocs">
      <xsd:include schemaLocation="RPL1RechargeServices_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="cancelRecharge">
    <part name="parameters" element="tns:cancelRecharge"/>
  </message>
  <message name="cancelRechargeResponse">
    <part name="parameters" element="tns:cancelRechargeResponse"/>
  </message>
  <message name="RPMException">
    <part name="fault" element="tns:RPMException"/>
  </message>
  <message name="l9RechargeService">
    <part name="parameters" element="tns:l9RechargeService"/>
  </message>
  <message name="l9RechargeServiceResponse">
    <part name="parameters" element="tns:l9RechargeServiceResponse"/>
  </message>
  <message name="rechargeServiceBaseVoucherRechargeMethod">
    <part name="parameters" element="tns:rechargeServiceBaseVoucherRechargeMethod"/>
  </message>
  <message name="rechargeServiceBaseVoucherRechargeMethodResponse">
    <part name="parameters" element="tns:rechargeServiceBaseVoucherRechargeMethodResponse"/>
  </message>
  <portType name="RPL1RechargeServices">
    <operation name="cancelRecharge">
      <input message="tns:cancelRecharge"/>
      <output message="tns:cancelRechargeResponse"/>
      <fault message="tns:RPMException" name="RPMException"/>
    </operation>
    <operation name="l9RechargeService">
      <input message="tns:l9RechargeService"/>
      <output message="tns:l9RechargeServiceResponse"/>
      <fault message="tns:RPMException" name="RPMException"/>
    </operation>
    <operation name="rechargeServiceBaseVoucherRechargeMethod">
      <input message="tns:rechargeServiceBaseVoucherRechargeMethod"/>
      <output message="tns:rechargeServiceBaseVoucherRechargeMethodResponse"/>
      <fault message="tns:RPMException" name="RPMException"/>
    </operation>
  </portType>
  <binding name="RPL1RechargeServicesBinding" type="tns:RPL1RechargeServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="cancelRecharge">
      <wsp:PolicyReference URI="#UsernameToken"/>
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RPMException">
        <soap:fault name="RPMException" use="literal"/>
      </fault>
    </operation>
    <operation name="l9RechargeService">
      <wsp:PolicyReference URI="#UsernameToken"/>
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RPMException">
        <soap:fault name="RPMException" use="literal"/>
      </fault>
    </operation>
    <operation name="rechargeServiceBaseVoucherRechargeMethod">
      <wsp:PolicyReference URI="#UsernameToken"/>
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RPMException">
        <soap:fault name="RPMException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RPL1RechargeServices">
    <port name="RPL1RechargeServices" binding="tns:RPL1RechargeServicesBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>