RPL1SubscriberServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<definitions targetNamespace="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.aif.amdocs" name="amdocs.aif.rpm.sessions.interfaces.api.RPL1SubscriberServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.aif.amdocs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.amdocs" schemaLocation="RPL1SubscriberServices_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.aif.amdocs" schemaLocation="RPL1SubscriberServices_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="l9GetCustomerOffersInfo">
    <part name="parameters" element="tns:l9GetCustomerOffersInfo"/>
  </message>
  <message name="l9GetCustomerOffersInfoResponse">
    <part name="parameters" element="tns:l9GetCustomerOffersInfoResponse"/>
  </message>
  <message name="RPMException">
    <part name="fault" element="tns:RPMException"/>
  </message>
  <message name="viewAllSubscriberBalanceDetails">
    <part name="parameters" element="tns:viewAllSubscriberBalanceDetails"/>
  </message>
  <message name="viewAllSubscriberBalanceDetailsResponse">
    <part name="parameters" element="tns:viewAllSubscriberBalanceDetailsResponse"/>
  </message>
  <portType name="RPL1SubscriberServices">
    <operation name="l9GetCustomerOffersInfo">
      <input wsam:Action="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.aif.amdocs/RPL1SubscriberServices/l9GetCustomerOffersInfoRequest" message="tns:l9GetCustomerOffersInfo"/>
      <output wsam:Action="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.aif.amdocs/RPL1SubscriberServices/l9GetCustomerOffersInfoResponse" message="tns:l9GetCustomerOffersInfoResponse"/>
      <fault message="tns:RPMException" name="RPMException" wsam:Action="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.aif.amdocs/RPL1SubscriberServices/l9GetCustomerOffersInfo/Fault/RPMException"/>
    </operation>
    <operation name="viewAllSubscriberBalanceDetails">
      <input wsam:Action="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.aif.amdocs/RPL1SubscriberServices/viewAllSubscriberBalanceDetailsRequest" message="tns:viewAllSubscriberBalanceDetails"/>
      <output wsam:Action="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.aif.amdocs/RPL1SubscriberServices/viewAllSubscriberBalanceDetailsResponse" message="tns:viewAllSubscriberBalanceDetailsResponse"/>
      <fault message="tns:RPMException" name="RPMException" wsam:Action="http://rPL1SubscriberServices.api.interfaces.sessions.rpm.aif.amdocs/RPL1SubscriberServices/viewAllSubscriberBalanceDetails/Fault/RPMException"/>
    </operation>
  </portType>
  <binding name="RPL1SubscriberServicesBinding" type="tns:RPL1SubscriberServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="l9GetCustomerOffersInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RPMException">
        <soap:fault name="RPMException" use="literal"/>
      </fault>
    </operation>
    <operation name="viewAllSubscriberBalanceDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RPMException">
        <soap:fault name="RPMException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="amdocs.aif.rpm.sessions.interfaces.api.RPL1SubscriberServices">
    <port name="RPL1SubscriberServices" binding="tns:RPL1SubscriberServicesBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

